* {
    font-family: 'Google San','Roboto', 'Times New Roman', Times, serif !important;
}
body{
    margin: unset;
}

//Todo: Color
$main-color: #ff3b00;
$hover-main-color: #e83a05;
$main-white: #e2e1e1;
$main-font-color:rgba(0, 0, 0, 0.54);
//Todo: W - H
$header-height: 50px;

